* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#73ca1c, #d0db58 50%, #d0db58 60%, #b8e64e);
}

header,
footer {
    height: 100px;
    background-color: #78c62a;
    color: white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 50px;
    align-items: center;
    gap: 24px;
    color: white;
    padding-left: 75px;
    justify-content: flex-start;
}

header span {
    font-weight: 600;
}

a img {
    height: 100px;
    mix-blend-mode: luminosity;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.background-logo {
    position: absolute;
    width: 50;
    max-height: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: exclusion;
    opacity: 85%;
}

.content-text {
    position: inherit;
    right: 350px;
    align-self: center;
    color: white;
    font-size: 2.5rem;
    width: 240px;
    text-align: end;
    text-shadow: 2px 2px 2px rgb(51, 13, 85);

}

.content-image {
    height: 55vh;
    margin-top: 22vh;
}

footer {
    height: 100px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 50% 50%;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: white;
    font-weight: 100;
}

footer div {
    width: 64px;
}

@media (max-width:1490px) {
    body{    
        
        height: 100vh;
        display: grid;
        grid-template-rows: 100px 1fr 100px;

    }
    main {
        height: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: auto;
        align-self: bottom;
        place-content: bottom;
        gap: 0px;
    }


    header {
        padding-left: 25px;
    }

    .content-text {
        font-size: 2rem;
        width: 150px;

    }

    .content-image {
        height: 65vh;
        padding:0px;
        margin-top: -50%;
        margin-bottom:-25%;
    }

    footer {
        padding: 0px 25px;
    }
}